<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>cork.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>cork.%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>3</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>1MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{15} - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="com.example" level="DEBUG"/>
  <root level="INFO">
    <appender-ref ref="MAIN"/>
  </root>
</configuration>
